<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bcfcb">  <td>19/12/06 11:13:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testSet.beforeClass()[pri:0, instance:ust.testAmazon.testSet@2cf3d63b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@661119548</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/12/06 11:13:05</td>   <td>2378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testSet.beforeMethod(java.lang.reflect.Method)[pri:0, instance:ust.testAmazon.testSet@2cf3d63b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@661119548</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/12/06 11:13:05</td>   <td>2388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testSet.Case01()[pri:0, instance:ust.testAmazon.testSet@2cf3d63b]">Case01</td> 
  <td>main@661119548</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/12/06 11:13:29</td>   <td>26811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testSet.afterMethod()[pri:0, instance:ust.testAmazon.testSet@2cf3d63b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@661119548</td>   <td></td> </tr>
</table>
