<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bcfcb">  <td>19/12/08 18:48:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testSet.Case01()[pri:0, instance:ust.testAmazon.testSet@742ff096]">Case01</td> 
  <td>main@1835073088</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/12/08 18:49:15</td>   <td>58234</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testSet.afterClass()[pri:0, instance:ust.testAmazon.testSet@742ff096]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1835073088</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/12/08 18:49:13</td>   <td>55704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testSet.afterMethod()[pri:0, instance:ust.testAmazon.testSet@742ff096]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1835073088</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/12/08 18:48:16</td>   <td>-844</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testSet.beforeClass()[pri:0, instance:ust.testAmazon.testSet@742ff096]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1835073088</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/12/08 18:48:17</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testSet.beforeMethod(java.lang.reflect.Method)[pri:0, instance:ust.testAmazon.testSet@742ff096]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1835073088</td>   <td></td> </tr>
</table>
